  <div class='fluid-container'>
    <div class='row'>
      <div class='col-6'>
  <span>Add New Post</span>
  </div>
  <div class='col-6'>
  <a class='go-back' routerLink="/admin-post-list">See All Posts </a>
    </div>
  </div>
  </div>
<br>
<br>
<div class='container'>
  <div class='row new-post-area'>

    <div class='col-12'>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
<form [formGroup]="form" (ngSubmit)='onPostUpload(f)' *ngIf="!isLoading" enctype="multipart/form-data">
  <div class='row'>
    <mat-radio-group aria-label='Select a type of post' formControlName='postType'>
      <mat-radio-button value='whatsNew' name='postType'>What's New</mat-radio-button>
      <mat-radio-button value='activities' name='postType'>Activities</mat-radio-button>
      <mat-radio-button value='payRoll' name='postType'>Payroll</mat-radio-button>
      </mat-radio-group>
  </div>
  <div class='row'>
  <div class='col-8'>
<div class='form-group'>
  <label for='title'>Title</label>
  <input
  type='text'
  id='title'
  name='title'
  class='form-control'
  formControlName='title'
  >
</div>
<div class='form-group'>
    <label for='subtitle'>Subtitle</label>
    <input
    type='text'
    id='subtitle'
    name='subtitle'
    class='form-control'
    formControlName='subtitle'>
</div>
<div class='form-group'>
    <label for='content'>Content</label>
    <textarea rows='12'
    class='form-control'
    id='content'
    name='content'
    formControlName='content'></textarea>
</div>
</div>
<div class='col-4'>
  <div class='form-group'>
      <label for='summary'>140-character summary (SEO, Blurbs etc..)</label>
      <textarea rows='6'
      class='form-control'
      id='summary'
      name='summary'
      formControlName='summary'
      ></textarea>
  </div>
  <div class='form-group'>
      <label for='password'>Add Photo</label>
      <div class='image-preview' *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
        <img [src]='imagePreview' [alt]='form.value.title'>
        </div>
      <button type='button' (click)="filePicker.click()" class='btn btn-secondary'>Upload Image</button>
      <input type='file' #filePicker (change)="onImagePicked($event)">
  </div>
  <hr>
  </div>
  </div>
<br>
<button class='btn btn-primary' type='submit'>Upload New Post</button>
</form>
</div>
</div>
</div>
<br>
<br>
