<ul>
  <li>
  <a routerLink='/staff/staff-whats-new'>
    <i class="fas fa-chart-line"></i>
  What's New
  </a>
  </li>

  <li>
    <a routerLink='/staff/staff-insurance-services'>
<i class="fas fa-user-tie"></i>Insurance Services
  </a>
  </li>
  <li>
    <a routerLink='/staff/staff-activities'>
  <i class="far fa-newspaper"></i> Activities
    </a>
  </li>
  <li>
    <a routerLink='/staff/staff-payroll'>
    <i class="fas fa-file-invoice-dollar"></i>
  Payroll
  </a>
  </li>
  <li>
    <a routerLink='/staff/staff-contact'>
    <i class="fas fa-id-badge"></i>
  Contact
  </a>
  </li>
</ul>
