p {
  font-family: sans-serif;
  text-align: right;
}

.header-banner {
position: relative;
margin-left: 50%;
left: -153px;
margin-top: 14px;
transform: scale(0.9);
}

.header-logo {
  margin-top: 14px;
  margin-left: 14px;
}

.header-profile {
  margin-top: 14px;
  margin-right: 14px;
}
