  <div class='row'>

<div class='col-4'>
  <img class='header-logo' src='/assets/images/leopard-logo-240.png'>
</div>
<div class='col-4'>
  <img class='header-banner' src='/assets/images/leopard-logo-banner-300.png'>
</div>
<div class='col-4'>
  <div class='row'>
  <div class='col-6'>
    <br>
    <br>
    <br>
    <br>
  <p>Current User</p>
  <p><span style='color:#999;font-size:0.9em;'>Mr. Huang</span></p>
  </div>
  <div class='col-6'>
  <img class='header-profile' src='/assets/images/leopard-profile-135.png'>
  </div>
  </div>
</div>
</div>
